
.gotoappb{ 

 background:none repeat scroll 0 0 #4F6AA3; 

 border-bottom-color:#29447E; 

 -moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.05); 

 background-color:#5B74A8; 

 background-position:0 -48px; 

 border-color:#29447E #29447E #1A356E; 

 border-style:solid; 

 border-width:1px; 

 cursor:pointer; 

 display:inline-block; 

 font-size:11px; 

 font-weight:bold; 

 line-height:normal !important; 

 padding:2px 6px; 

 text-align:center; 

 text-decoration:none; 

 vertical-align:top; 

 white-space:nowrap; 

 font-family:"lucida grande",tahoma,verdana,arial,sans-serif; 

 } 

 .fbappb{ 

 color:#FFFFFF; 

 background:none repeat scroll 0 0 transparent; 

 border:0 none; 

 cursor:pointer; 

 display:inline-block; 

 font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif; 

 font-size:11px; 

 font-weight:bold; 

 margin:0; 

 outline:medium none; 

 padding:1px 0 2px; 

 white-space:nowrap; 

 line-height:normal !important; 

 text-align:center; 

 text-decoration:none; 

 border-style:solid; 

 direction:ltr; 

 } 

 .buttoncs { 

 padding: 5px 10px; 

 display: inline; 

 background: #777 url(/fortuneapp/images/button.png) repeat-x bottom; 

 border: none; 

 color: #fff !important; 

 cursor: pointer; 

 font-weight: bold; 

 border-radius: 5px; 

 -moz-border-radius: 5px; 

 -webkit-border-radius: 5px; 

 text-shadow: 1px 1px #666; 

 text-decoration: none; 

 } 

 .buttoncs:hover { 

 background-position: 0 -48px; 

 } 

 .buttoncs:active { 

 background-position: 0 top; 

 position: relative; 

 top: 1px; 

 padding: 6px 10px 4px; 

 } 

 .buttoncs.redcs { background-color: #e50000; } 

 .buttoncs.purplecs { background-color: #9400bf; } 

 .buttoncs.greencs { background-color: #58aa00; } 

 .buttoncs.orangecs { background-color: #ff9c00; } 

 .buttoncs.bluecs { background-color: #2c6da0; } 

 .buttoncs.blackcs { background-color: #333; } 

 .buttoncs.whitecs { background-color: #fff; color: #000; text-shadow: 1px 1px #fff; } 

 .buttoncs.smallcs { font-size: 75%; padding: 3px 7px; } 

 .buttoncs.smallcs:hover { background-position: 0 -50px; } 

 .buttoncs.smallcs:active { padding: 4px 7px 2px; background-position: 0 top; } 

 .buttoncs.largecs { font-size: 125%; padding: 7px 12px; } 

 .buttoncs.largecs:hover { background-position: 0 -35px; } 

 .buttoncs.largecs:active { padding: 8px 12px 6px; background-position: 0 top; } 

 body { 

 margin-left: 0px; 

 margin-top: 0px; 

 margin-right: 0px; 

 margin-bottom: 0px; 



 } 

 #Layer1 { 

 position:absolute; 

 width:699px; 

 height:415px; 

 z-index:1; 

 left: 50px; 

 top: 270px; 

 } 

